<div>
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <form class="container-fluid justify-content-center p-2">
        <button (click)="onCreate()" class="btn btn-outline-success me-5" type="button">Create</button><br>
        <button (click)="onView()" class="btn btn-outline-success me-5" type="button">View</button><br>
        <button (click)="onUpdate()" class="btn btn-outline-success me-5" type="button">update</button>
       
      </form>
    </nav>

  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>